<!DOCTYPE html>
<html>
  <head xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ramadan Kareem</title>
  </head>
  <body
    style="font-family: Arial, sans-serif;background-color: #011224; color: #e7ba78;margin: 0; max-width: 100%;">
    <div id="header" style="background-color: #183b4d; padding: 20px;">
      <h1
        style="margin: 0; font-size: 40px; color: #e7ba78; text-align: center;"
      >
        Ramadan Kareem
      </h1>
    </div>
    <div id="content" style="padding: 20px;">
      <div id="section1" style="background-color: #011224; padding: 20px;">
        <div style="text-align:center;">
          <img src="https://oioftq.stripocdn.email/content/guids/CABINET_911ca522092a9b44204fd603dd7b1286/images/8781616158065257.png" alt="Mosque" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
        </div>
        <h2
          style="margin-bottom: 20px; font-size: 30px; color: #e7ba78; text-align: center; ">
          May Allah Always Be With You
        </h2>
      </div>
      <div
        id="section2"
        style="background-color: #183b4d; padding: 20px; text-justify: auto; font-size: 17px;">
        <div id="p4" style="color: #e7ba78;">
        <p>Dear My Beloved Friend</p>
        <p>Assalamu'alaikum warahmatullahi wabarakatuh</p>
        <p>
          It is our great pleasure to invite you to join us for a special iftar
          gathering to break our fast together during this blessed month of
          Ramadan.
        </p>
        <p>Date: 04-19-2023</p>
        <p>Time: 04:00 PM</p>
        <p>Venue: Istana Negara, Veteran Street No.17, Central Jakarta</p>
        <p>
          We would be honored to have you join us for this occasion and share in
          the blessings of Ramadan. There will be delicious food and drinks, as
          well as a chance to catch up and strengthen our bonds of friendship.
        </p>
        <p>
          Please let us know if you will be able to attend by 04-10-2023 so that
          we can make the necessary arrangements.
        </p>
        <p>Jazakumullahu khairan</p>
        <p>Your Reagard</p>
      </div>
      </div>
      <div
        id="section3"
        style="background-color: #011224; padding: 20px; margin-top: 20px;"
      >
        <p
          style="
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
            color: #e7ba78;
          "
        >
          Our memories from the previous Ramadan are still fresh in our minds.
          We cherish the time spent together in worship, reflection, and
          breaking fast
        </p>
        <table style="max-width: 100%;">
          <tr>
            <td style="margin: 5px;">
              <img src="https://plus.unsplash.com/premium_photo-1677528573100-110dd01174d4?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=870&amp;q=80" alt="1" style="width: 100%;">
            </td>
            <td style="margin: 5px;">
              <img src="https://plus.unsplash.com/premium_photo-1677528572912-20b0ef3c08a9?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=870&amp;q=80" alt="5" style="width: 100%;">
            </td>
            <td style="margin: 5px;">
              <img src="https://plus.unsplash.com/premium_photo-1677528573887-bb9fc69a756f?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=870&amp;q=80" alt="6" style="width: 100%;">
            </td>
          </tr>
          <tr>
            <td style="margin: 5px;">
              <img src="https://plus.unsplash.com/premium_photo-1677528572718-c2ab4da4b4b4?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80" alt="3" style="width: 100%;">
            </td>
            <td style="margin: 5px;">
              <img src="https://plus.unsplash.com/premium_photo-1677528572770-981c0277c0ec?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80" alt="4" style="width: 100%;">
            </td>
            <td style="margin: 5px;">
              <img src="https://images.unsplash.com/photo-1602363557554-9962442a5c94?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=435&amp;q=80" alt="2" style="width: 100%;">
            </td>
          </tr>        
        <!-- <div
          id="image-section3"
          style="display: flex; flex-direction: column; justify-content: center; align-items: center; max-width: 15%;">
          <div class="row" style=" display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div class="col" style="flex: 1; margin: 5px;">
              <img
                src="https://plus.unsplash.com/premium_photo-1677528573100-110dd01174d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="1" style="width: 100%;"/>
            </div>
            <div class="col" style="flex: 1; margin: 5px;">
              <img
                src="https://plus.unsplash.com/premium_photo-1677528572912-20b0ef3c08a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="5"
                style="width: 100%;"
              />
            </div>
            <div class="col" style="flex: 1; margin: 5px;">
              <img
                src="https://plus.unsplash.com/premium_photo-1677528573887-bb9fc69a756f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="6"
                style="width: 100%;"
              />
            </div>
          </div>
          <div class="row" style=" display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div class="col" style="flex: 1; margin: 5px;">
              <img
                src="https://plus.unsplash.com/premium_photo-1677528572718-c2ab4da4b4b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt="3"
                style="width: 100%;"
              />
            </div>
            <div class="col" style="flex: 1; margin: 5px;">
              <img
                src="https://plus.unsplash.com/premium_photo-1677528572770-981c0277c0ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt="4"
                style="width: 100%;"
              />
            </div>
            <div class="col" style="flex: 1; margin: 5px;">
              <img
                src="https://images.unsplash.com/photo-1602363557554-9962442a5c94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                alt="2"
                style="width: 100%;"
              />
            </div>
          </div>
        </div> -->
      </div>
      <div id="section4" style="padding: 20px; background-color: #183b4d;">
        <div id="p4" style="text-align: right; font-size: 23px;">
          <p>
            أفْطَرَ عِنْدَكُمْ الصَّائِمُوْنَ وَأَكَلَ طَعَامَكُمْ اْلأبْرَارَ
            وَصَلَّتْ عَلَيْكُمْ الْمَلاَئْكَةُ
          </p>
        </div>
        <p style="font-size: 20px; color: #e7ba78;">
          "The people who were fasting have broken their fast in your place. The
          righteous people have eaten your food, and the angels are praying for
          you." (HR. Abu Dawud)
        </p>
      </div>
    </div>
    <div
      id="footer"
      style="background-color: #183b4d;  padding: 20px; text-align: center; color: #e7ba78; " >
      <p>Ramadan is a month of joy &copy; Akiyaa 2023</p>
    </div>
  </body>
</html>
